//variables
$primaryColor: #e1331a;
$secondaryColor: #22172b;
$backgrounColor: #f0f0f0;
$wordColor: #c4c4c4;
$mobile: 450px;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  font-family: "roboto", sans-serif;
  background-color: $backgrounColor;
}

.container {
  width: 95%;
  margin: 0 auto;
  @media (min-width: $mobile) {
    width: 75%;
  }
}
