.nav {
  background-color: $secondaryColor;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-logo {
  color: white;

  height: 4rem;
  display: flex;
  align-items: center;

  img {
    width: 150px;
    height: 20px;
  }
  h2 {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.text-nav {
  color: white;
  padding-bottom: 1rem;
}
.button-menu {
  bottom: 40px;
  right: 0;
  left: 0;
  align-items: end;
}
.nav-menu {
  width: 60vw;
  @media (min-width: $mobile) {
    width: 40vw;
  }
  @media (min-width: 1200px) {
    width: 20vw;
  }
}
