.nav-logo {
  color: #ffffff;
  background-color: $secondaryColor;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  img {
    width: 150px;
    height: 20px;
  }
  h2 {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.text-nav {
  color: #ffffff;
  padding-bottom: 1rem;
}
