.nav {
  background-color: $secondaryColor;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  color: white;
}
.nav-menu {
  background-color: $secondaryColor;
  height: 100%;
  color: white;
  .text-nav {
    padding-bottom: 1rem;
  }
}
.nav-logo-container {
  padding-left: 1rem;

  img {
    width: 150px;
    height: 20px;
  }
  h2 {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}
#root
  > div
  > div
  > div.MuiSpeedDial-root.MuiSpeedDial-directionUp.css-h0fz3e-MuiSpeedDial-root {
  z-index: 3000;
}
